{% extends './index.html' %}

{% block title %}Login{% endblock title %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock customCSS %}

{% block body %}
<form class="form-signin w-100 m-auto" action="/register" method="POST">
  {% with messages = get_flashed_messages() %}

    {% if messages %}

  {% for message in messages %}

  <div class="alert alert-primary alert-dismissible" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>

  {% endfor %}

  {% endif %}

  {% endwith %}
  <h1 class="h3 mb-3 fw-normal">Create a new account</h1>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="form-floating">
    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
    <label for="username">Username</label>
  </div>
  <div class="form-floating mt-1">
    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    <label for="username">Name</label>
  </div>
  <div class="form-floating mt-1">
    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name">
    <label for="username">Last name</label>
  </div>
  <div class="form-floating mt-1">
    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    <label for="username">Email</label>
  </div>
  <div class="form-floating mt-4">
    <input type="password" class="form-control" name="password" placeholder="Password">
    <label for="password">Password</label>
  </div>
  <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
  <div class="form-floating mt-4">
    <input type="password" class="form-control" name="repassword" placeholder="Repeat password">
    <label for="password">Repeat password</label>
  </div>
  <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Create</button>
  <p class="mt-5 mb-3 text-muted">&copy;2022</p>
</form>
{% endblock body %}